body {
    text-align: left;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.client {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 2em;
    padding: 2em;
}


.input-person {
    margin: 0.25em;
}

Button {
    margin: 10px;
}

.navbar-nav {
    background-color: #222629;
    color: #86c232;
    text-decoration: none;
  }
  
  .navbar {
    background-color: #222629;
    color: #86c232;
    font-size: 1vw;
  }
  
  .navbar-brand {
    background-color: #222629;
    color: #86c232;
    font-weight: bold;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.1vw;
  }
  
  .navbar-brand:hover {
    background-color: #86c232;
    color: #222629;
  }
  
  .heading-nav {
    color: #86c232;
    float: right;
    padding-top: 15px;
    padding-right: 20px;
    list-style-type: none;
    background-color: #222629;
  }
  